<a href="https://colab.research.google.com/github/Nanirudh/ML-Assignments/blob/main/mlBookAssignments/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
train_data = pd.read_csv('/content/drive/MyDrive/train.csv')

In [4]:
test_data = pd.read_csv('/content/drive/MyDrive/test.csv')

In [5]:
train_data.keys()

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
X_train = train_data.drop(['PassengerId', 'Ticket', 'Name', 'Cabin', 'Embarked'], axis=1)

In [7]:
y_train = X_train[['Survived']].copy()

In [8]:
X_train = X_train.drop(['Survived'], axis=1)

In [9]:
X_train['Sex'].unique()

array(['male', 'female'], dtype=object)

In [10]:
X_train['Sex'].replace('male', 0, inplace=True)

In [11]:
X_train['Sex'].replace('female', 1, inplace=True)

In [12]:
print(X_train)

     Pclass  Sex   Age  SibSp  Parch     Fare
0         3    0  22.0      1      0   7.2500
1         1    1  38.0      1      0  71.2833
2         3    1  26.0      0      0   7.9250
3         1    1  35.0      1      0  53.1000
4         3    0  35.0      0      0   8.0500
..      ...  ...   ...    ...    ...      ...
886       2    0  27.0      0      0  13.0000
887       1    1  19.0      0      0  30.0000
888       3    1   NaN      1      2  23.4500
889       1    0  26.0      0      0  30.0000
890       3    0  32.0      0      0   7.7500

[891 rows x 6 columns]

In [13]:
X_train['Age'].fillna(X_train['Age'].mean(), inplace=True)
X_train['Age'].unique()

array([22.        , 38.        , 26.        , 35.        , 29.69911765,
       54.        ,  2.        , 27.        , 14.        ,  4.        ,
       58.        , 20.        , 39.        , 55.        , 31.        ,
       34.        , 15.        , 28.        ,  8.        , 19.        ,
       40.        , 66.        , 42.        , 21.        , 18.        ,
        3.        ,  7.        , 49.        , 29.        , 65.        ,
       28.5       ,  5.        , 11.        , 45.        , 17.        ,
       32.        , 16.        , 25.        ,  0.83      , 30.        ,
       33.        , 23.        , 24.        , 46.        , 59.        ,
       71.        , 37.        , 47.        , 14.5       , 70.5       ,
       32.5       , 12.        ,  9.        , 36.5       , 51.        ,
       55.5       , 40.5       , 44.        ,  1.        , 61.        ,
       56.        , 50.        , 36.        , 45.5       , 20.5       ,
       62.        , 41.        , 52.        , 63.        , 23.5       ,
        0.92      , 43.        , 60.        , 10.        , 64.        ,
       13.        , 48.        ,  0.75      , 53.        , 57.        ,
       80.        , 70.        , 24.5       ,  6.        ,  0.67      ,
       30.5       ,  0.42      , 34.5       , 74.        ])

In [16]:
from sklearn.linear_model import LogisticRegression
sk_linear_model = LogisticRegression(random_state=42).fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [17]:
test_data.keys()

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [18]:
X_test = test_data.drop(['PassengerId', 'Ticket', 'Name', 'Cabin', 'Embarked'], axis=1)
X_test['Sex'].replace(['female','male'], [1,0], inplace=True)

In [19]:
X_test.keys()
X_test['Age'].fillna(X_test['Age'].mean(), inplace=True)

In [20]:
X_test.keys()
X_test['Fare'].fillna(X_test['Fare'].mean(), inplace=True)

In [21]:
y_test = sk_linear_model.predict(X_test)

In [24]:
print(y_test)

[0 0 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 1 1 1 0 1 0 0 0 0 0 0 0 0 0 1
 1 0 0 0 0 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 1 0 1 1
 1 1 0 1 0 1 0 0 0 0 0 0 1 1 1 0 1 0 1 0 1 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0
 0 0 1 0 0 1 0 0 1 1 0 1 1 0 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 1 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 1 1 1 0 0 1 0 0 1 1 0 0 0 0
 1 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0 0 1 1 0
 0 1 0 0 1 1 1 0 0 0 0 0 1 1 0 1 0 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 0 0
 0 1 1 1 1 1 0 1 0 0 0]

In [32]:
solution = pd.DataFrame({'Survived':y_test[:]})

In [36]:
solution.shape
test_data.shape

(418, 11)

In [37]:
pid=test_data[['PassengerId']].copy()

In [38]:
pid.shape

(418, 1)

In [39]:
solution['PassengerId'] = pid

In [40]:
solution.shape

(418, 2)

In [41]:
solution.to_csv('/content/drive/MyDrive/titanic_logistic.csv')